<h1>All itineraries</h1>
<% @itineraries.each do |itinerary| %>
<%= link_to "#{itinerary.title}", itinerary_path(itinerary) %>
<p> Rating : <%= itinerary.rating %></p>
<p> Création date : <%= itinerary.created_at %></p>
<% end %>
