<div class="row">
  <div class="col-8 mt-2 p-5">
    <h1>Please, create your itinerary</h1>
    <%= render "shared/form" %>
  </div>
  <div class="col-4">
    <img src="https://www.noovomoi.ca/content/style-de-vie/fr/vivre/couple/dates-originales/_jcr_content/root/main/responsivegrid/image_1663125779.coreimg.jpeg/1658776859818/dates-originales-3.jpeg" class="h-100">
  </div>
</div>
