<div class="row">
  <div class="col-8 mt-2 p-5">
    <h1>Please, create your itinerary</h1>
    <%= render "shared/new&edititineraries" %>
  </div>
  <div class="col-4">
    <%#= cl_image_tag("Date.jpg"), class: "w-100", alt: "une image" %>
  </div>
</div>
