// Specific CSS for your home-page
.home {
 /*  margin-left: 5rem;
  margin-right: 3rem; */
  margin-top: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 3rem;
  .left-side {
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .call-to-action {
      margin-top: 50px;
      a.btn-blue {
        text-decoration: none;
        color: white;
        background: linear-gradient(90deg, #32A9E3, #0088CB);
        padding: 15px;
        border-radius: 15px;
        font-size: 20px;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #32A9E3;
          background: transparent;
          border: 2px solid #32A9E3;
        }
      }
    }
  }
  .right-side {
    .header-img {
      width: 45rem;
    }
  }
}

.home-search {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.app-features {
  margin-top: 10rem;
  margin-bottom: 12rem;
  margin-left: 5rem;
  margin-right: 3rem;
  h1 {
    text-align: right;
    margin-right: 35rem;
    margin-top: 25px;
    font-size: 35px;
  }
  h2 {
    color: #EE5885;
    font-size: 25px;
  }
  .features-card {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 17px;
    }
    .first-card {
      padding: 30px;
      /* border: solid 1px; */
      text-align: center;
      background: linear-gradient(180deg, rgba(50, 169, 227, 0.48), transparent);
      border-radius: 15px;
      width: 327.34px;
      height: 404.61px;
      margin-right: 5rem;
      .card-img {
        width: 8rem;
      }
    }
    .second-card {
      padding: 30px;
      /* border: solid 1px; */
      text-align: center;
      background: linear-gradient(180deg, rgba(238, 88, 133, 0.53), transparent);
      border-radius: 15px;
      width: 327.34px;
      height: 404.61px;
      margin-right: 5rem;
      margin-top: 7rem;
      .card-img {
        width: 7rem;
      }
    }
    .third-card {
      padding: 30px;
      /* border: solid 1px; */
      text-align: center;
      background: linear-gradient(180deg, rgba(50, 169, 227, 0.48), transparent);
      border-radius: 15px;
      width: 327.34px;
      height: 404.61px;
      margin-top: 14rem;
      .card-img {
        width: 7rem;
      }
    }
    img.card-img {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.top-itineraries {
  text-align: center;
  margin-bottom: 5rem;
  background: linear-gradient(
    0deg,
    rgba(50, 169, 227, 0.48) 0%,
    rgba(50, 169, 227, 0.48) 47%,
    white 47%,
    white 100%
  );
  padding-bottom: 5rem;
  .title {
    margin-left: 5rem;
    margin-right: 3rem;
    p {
      font-size: 20px;
      padding-left: 10rem;
      padding-right: 10rem;
      margin-top: 2rem;
      span {
        font-weight: bold;
      }
    }
  }
  .text-btn {
    p {
      margin-top: 3rem;
      margin-bottom: 3.5rem;
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
    .btn-pink-sabrina {
      text-decoration: none;
      color: white;
      background: linear-gradient(90deg, #EE5885, #EF396F);
      padding: 15px;
      padding-right: 25px;
      padding-left: 25px;
      border-radius: 15px;
      font-size: 18px;
      /* transition: 0.3s ease-in-out; */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      &:hover {
        color: white;
        background: transparent;
        border: 2px solid white;
        font-weight: bold;
      }
    }
  }
}

.end-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 3rem;
  margin-bottom: 10rem;
  .left-side {
    h2 {
      color: #EE5885;
      font-size: 25px;
    }
    h1 {
      margin-top: 25px;
      font-size: 35px;
    }
    .end-page-btn {
      margin-top: 3rem;
      a.btn-blue {
      text-decoration: none;
      color: white;
      background: linear-gradient(90deg, #32A9E3, #0088CB);
      padding: 15px;
      border-radius: 15px;
      font-size: 18px;
      /* transition: 0.3s ease-in-out; */
        &:hover {
          color: #32A9E3;
          background: transparent;
          border: 2px solid #32A9E3;
          margin-right: -0.3rem;
        }
      }
      .btn-pink-bordered {
        color: #EE5885;
        border: 2px solid #EE5885;
        padding: 14px;
        border-radius: 15px;
        font-size: 18px;
        margin-left: 2rem;
        &:hover {
          color: white;
          background: linear-gradient(90deg, #EE5885, #EF396F);
          border: none;
        }
      }
    }

  }
  .right-side {
    .side-img {
      width: 80%;
      display: flex;
      margin-left: auto;
      margin-right: 3rem;
    }
  }
}
