<div class="footer">
  <div class="container">
      <h1>I LOVE OU?</h1>
      <div class="about"><p>Our app provides the ultimate solution for planning the perfect date. Say goodbye to the stress of figuring out what to do, where to go and how to get there. Our carefully crafted itineraries take you on a journey through the best subway stations for a truly memorable experience with your loved one.
      <strong>Sign up today and start creating memories that will last a lifetime.</strong></p></div>
      <div class="socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="menu">
        <%= link_to "Home", "/", class: "nav-link" %>
        <%= link_to "Dashboard", "/", class: "nav-link" %>
        <%= link_to "Itinerary", "/", class: "nav-link" %>
      </div>
      <div class="copyright"><p>Made with ❤ © 2023 Iloveou?</p></div>
  </div>
</div>
