<%= form_with url: "itineraries?", method: :get do |form| %>
    <div class="global">
        <%= form.text_field :station, placeholder: 'Please enter a subway station'%>
        <%= form.number_field :guests, placeholder: 'Guests number', in: 1..10, step: 1 %>
        
    </div>
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
<% end %>