.user-card {
    text-align: center;
    margin-left: 50rem;
    margin-right: 50rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    // border: 1px solid black;
    border-radius: 20px;
  }


.itineraries-numbers{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.number {
    margin-bottom: 0.2rem;
    color: #EE5885;
    font-size: 25px;
    font-weight: 700;
}

.left-number{
    margin-right: 2rem;
}

.avatar-dashboard{
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

.btn-blue-dashboard {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #32A9E3, #0088CB);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    width: 40%;
    &:hover {
      color: #32A9E3;
      background: transparent;
      border: 2px solid #32A9E3;
    }
  }

.button-dashboard {
    margin-bottom: 3rem;
}

.user-name{
    font-size: 25px;
    font-weight: 700;
}

.text-number{
    font-size: 20px;
    font-weight: 650;
}

.section-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.section {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.itineraries-card-dash {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
  }
  
  .itinerary-card {
    /* border: 1px solid red; */
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1rem;
    padding: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    width: 350px;
    height: 300px;
    .itinerary-photo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }