.itineraries-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.itinerary-card {
  /* border: 1px solid red; */
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
  padding: 10px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 350px;
  height: 300px;
  .itinerary-photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.picture-left {
  border-radius: 15px 0 0 0;
  width: 50%;
}

.picture-right {
  border-radius: 0 15px 0 0;
  width: 50%;
}

.mono-picture{
  border-radius: 15px 15px 0 0;
}
a.itinerary-title {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.itinerary-header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  .itinerary-btn {
    a.btn-blue {
      text-decoration: none;
      color: white;
      background: linear-gradient(90deg, #32A9E3, #0088CB);
      padding: 8px;
      border-radius: 8px;
      font-size: 10px;
      transition: 0.3s ease-in-out;
      position: relative;
      bottom: -82px;
      right: -30px;
      &:hover {
        color: #32A9E3;
        background: transparent;
        border: 2px solid #32A9E3;
      }

     }
     .fa-heart {
      color: #EE5885;
    }
  }
}

.itinerary-description-card {
 font-size: 10px;
 padding-left: 15px;
    p {
  line-height: 100%;
  margin-bottom: 10px;
 }

  .fa-heart {
    color: #EE5885;
  }
  h5 {
    color: #32A9E3;
    font-size: 12px;
  }
  .fa-circle {
    font-size: 10px;
  }
 }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .itineraries-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .itineraries-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .itineraries-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .itineraries-card{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .itineraries-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
