.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 10px;
  .navbar-brand {
    img {
      width: 60px;
    }
  }
}

.nav-item {
  a.btn-blue {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #32A9E3, #0088CB);
  padding: 13px;
  border-radius: 13px;
  font-size: 16px;
  /* transition: 0.3s ease-in-out; */
    &:hover {
      color: #32A9E3;
      background: transparent;
      border: 2px solid #32A9E3;
    }
  }
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item.active {
  margin-right: 2rem;
}

a.nav-link-btn {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 15px;
  &:hover {
    background-color: #32a9e326;
  }
}

.dropdown-menu.dropdown-menu-end.show {
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  margin-top: 0.5rem;
}

img#navbarDropdown {
 width: 50px;
 height: 50px;
 border-radius: 100%;
 object-fit: cover;
 cursor: pointer;
 &:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
}
