
.i-header {
  margin:40px;
}

.activity-img {
  border-radius: 10px;
}

.info-box {
  background-color: #32A9E3;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  width: 100%;
}


.review-count {
  color:#EE5885;
}

.mapboxgl-map {
  width: 200%;
}

.price {
  border-left: solid 3px white;
  border-right: solid 3px white;
  margin-left: 10px ;
  margin-right: 10px ;
  padding-left: 20px;
  padding-right: 20px;
}

.review-comment {
  background-color: white;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  overflow: 10px;
  display:block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  visibility: hidden;
  transform: translateY(-20px);
  transition: visibility 0.5s ease, transform 0.5s ease;
}
