

.activity-img {
  border-radius: 10px;
}

.add-favorites {
  margin-top: 1rem;
}

.fav-btn-show {
  background-color: #EE5885;
  border-radius: 10px;
  font-size: 15px;
  color:white;
  width: 20%;
  text-align: center;
  padding: 5px;
}

.itinerary-description {
  margin-top: 30px;
}

.border-activities{
  border-left: dashed 2px #EE5885;
  height: calc(100% - 2rem);
  margin-right: 50px;
}


.favorites-heart {
  color: #EE5885
}

.info-text-station, .info-text-rating, .info-text-review, .info-text-username{
  padding-right: 15px;
  margin-bottom: 20px;
}

.activities-path{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.fa-train-subway{
  color: #32A9E3;
}

.little-heart{
  color : #EE5885
}

.fa-utensils, .fa-palette, .fa-champagne-glasses , .fa-tree-city, .fa-face-grin-stars {
  color:grey;
}

.ustensil, .palette, .champagne, .tree, .grin-stars{
  padding-right: 30px;
  }


.info-text {
  .categories {
    margin-left: auto;
}
}

.info-box {
  background-color: #32A9E3;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  width: 100%;
  margin: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.fa-location-dot {
  margin-right: 10px;
  color:#EE5885;
}

.hour p {
  margin-top: 10px;
}

.price p {
  margin-top: 10px;
}

.weather {
  p {
    margin-top: 10px;
  }
}

.review-count {
  color:#EE5885;
}

.mapboxgl-map {
  width: 200%;
}

.price {
  border-left: solid 3px white;
  border-right: solid 3px white;
  margin-left: 10px ;
  margin-right: 10px ;
  padding-left: 20px;
  padding-right: 20px;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-grade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.review-comment-card {
  background-color: white;
  border-color: white;
  border-width: 5px;
  border-radius: 10px;
  overflow: 10px;
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.review-title i {
  color: #EE5885;
  font-size: 30px;
  margin-right: 10px;
}

.review-title {
  display: flex;
  // margin-bottom: 10px;
  // margin-left: 100px;
}

.review-title h2 {
  margin: 0;
  font-size: 24px;
}

.review-count {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: pink;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.review-text p {
  display: block;
}

#map {
  width: 100%;
  height: 70vh;
  margin: 0, auto;
}

.btn-blue-review {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #32A9E3, #0088CB);
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  width: 40%;
  border: 2px solid transparent;;
  background-origin: border-box;
  &:hover {
    color: #32A9E3;
    background: transparent;
    border: 2px solid #32A9E3;
  }
}




.heart-font {
  position: relative;
  // .fa-heart-count {
  //       position: absolute;
  //       top: 20%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //     }
}

.activity-number {
  font-size: 40px;
  color: #EE5885;
  margin-right: 50px;
}

.review-text {
  margin-left: 0.5rem;
}

.comment-heart {
  color:#EE5885;
  margin-right: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.btn-blue-review-exist {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #32A9E3, #0088CB);
  padding: 15px;
  border-radius: 15px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  width: 15%;
  margin-left: auto;
  text-align: center;
  border: 2px solid transparent;
  background-origin: border-box;
  user-select: none;
  cursor: pointer;
  &:hover {
    color: #32A9E3;
    background: transparent;
    border: 2px solid #32A9E3;
  }
}

.review-content {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
}

.date-user-comment {
  display: flex;
  justify-content: space-between;
}
