.wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  .fa-solid {
 /*    top: 50%; */
    font-weight: bolder;
    font-size: 1.2rem;
    background: #EE5885;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    position: relative;
    transform: translateY(-6.5rem);
    z-index: 1;
    &:first-child {
      left: 1.5rem;
    }
    &:last-child {
      right: 2.5rem;
    }
  }
  .carousel {
    white-space: nowrap;
    display: -webkit-inline-box;
    margin-top: 7rem;
    cursor: pointer;
    overflow: hidden;
    max-width: 1000px;
  }
}

.card-slider {
  background-size: cover;
  color: white;
  margin-right: 3rem;
  border-radius: 50px;
  width: 296.3px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2 {
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: 30px;
  }
}

.card-info {
  margin: 1rem;
  margin-bottom: 2rem;
  .itinerary-user {
    display: flex;
    justify-content: left;
    align-items: left;
    .user-photo {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      object-fit: cover;
    }
    .name-review {
      margin-left: 1rem;
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.name-review {
  p {
    padding: 0px;
    margin: 0px;
    text-align: start;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    .card-slider {
      width: calc(100% / 2);
    }
  }
}

@media screen and (max-width: 550px) {
  .carousel {
    .card-slider {
      width: calc(100%);
    }
  }
}
