<section class="review-details">
  <div class="details">
    <h1><%= @review.rating %></h1>
    <h2>
      <%= @review.rating %>
    </h2>
    <p>
      <%= @review.content %>
    </p>
  </div>
</section>

<section class="admin">
  <%= link_to "Edit", edit_review_path(@review), class: "button" %>
</section>
